<template>
  <div>
    {{ company }}
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class ReportEquipment extends Vue{
  @Prop() readonly company: any
}
</script>
