<template>
  <div class="w-100 border-bottom">
    <div class="col-12 row">
      <!-- <p class="col-3 mb-0">
        <small><b>Número da OS:</b></small><br><b>#{{ status.number }}</b>
      </p> -->
      <p class="col-3 mb-0">
        <small><b>Status:</b></small><br>{{ status.status[0].name }}
      </p>

      <p class="col-3 mb-0">
        <small><b>Data da OS:</b></small><br>{{ status.data }}
      </p>

      <p class="col-3 mb-0">
        <small><b>Ultimo Movimento:</b></small><br>{{ status.status[0].start }}
      </p>

    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { ServiceOrderStatus } from '../../../../types/modules'

@Component
export default class ReportHeader extends Vue{
  @Prop({ default: null }) readonly status!: ServiceOrderStatus | null
}
</script>
