@import 'bootstrap/scss/bootstrap.scss';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'admin-lte/build/scss/AdminLTE.scss';

.os {
    height: 500px;

    .os-list {
        height: 100%;
        overflow-y: auto;
    }

    .os-summary {
        height: 100%;
        overflow-y: auto;
        border: solid 1px rgb(220, 220, 220);
        border-radius: 5px;
    }
}

.cursor-pointer {
    cursor: pointer;
    user-select: none;
}

.possible-status {
    z-index: 99999;
}

.router-link-exact-active {
    background-color: rgb(195, 235, 163);
}

@media print {
    // @page { margin: 0.5cm; }
    @page { size: auto;  margin: 0mm; }

    body, .content-wrapper > .content, .container-fluid, .content {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        background: white;
    }

    .flat {
        margin: 0 !important;
        padding: 0 !important;
    }

    .elevation-2 {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .noprint {
        display: none;
    }
}
