<template>
  <div class="w-100 border-bottom">
    <div class="row">
      <div class="col-2">
        <img
          height="120"
          :src="`${ this.configuration.storage }/img/${ company.logo }`"
        />
      </div>
      <div class="col-8 border-left pt-2">
        <h4 class="mb-0"><b>{{ company.fantasy_name }}</b></h4>
        <h6>{{ company.cnpj }}</h6>
        <p class="mb-0">{{ company.address }} {{ company.complement }}, {{ company.number }}, {{ company.neighborhood }} - {{ company.cep }} - {{ company.city }} - {{ company.state }}</p>
        <p class="mb-0">{{ company.email_contact }} - {{ company.phone }} / {{ company.cellphone }}</p>
      </div>
      <div class="col-2 border-left pt-2 d-flex justify-content-center pt-5">
        <h4><b>#{{ number }}</b></h4>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import user from './../../../../store/modules/user'

@Component
export default class ReportBusiness extends Vue{
  @Prop() readonly company!: any
  @Prop({ default: '' }) readonly number!: string

  get configuration() {
    return user.currentConfiguration
  }
}
</script>
