<template>
  <div class="w-100 mt-3">
    <h5 class="bg-gray p-1">Detalhes</h5>
    <div class="row">
      <div class="col-12 col-md-6">
        <label><small>Empresa</small></label>
        <select
          class="form-control form-control-sm custom-select custom-select-sm"
          v-model="summary.companyId"
          @change="saveState"
        >
          <option v-for="item in details.companies" :key="item.id" :value="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="col-12 col-md-6">
        <label><small>Centro de Resultado</small></label>
        <select
          class="form-control form-control-sm custom-select custom-select-sm"
          v-model="summary.resultCenterId"
          @change="saveState"
        >
          <option v-for="item in details.result_centers" :key="item.id" :value="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="col-12 col-md-6">
        <label><small>Tipo de Estoque</small></label>
        <select
          class="form-control form-control-sm custom-select custom-select-sm"
          v-model="summary.stockTypeId"
          @change="saveState"
        >
          <option v-for="item in details.stock_types" :key="item.id" :value="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="col-12 col-md-6">
        <label><small>Tabela de Preços</small></label>
        <select
          class="form-control form-control-sm custom-select custom-select-sm"
          v-model="summary.priceTableId"
          @change="saveState"
        >
          <option v-for="item in details.price_tables" :key="item.id" :value="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { AxiosResponse } from 'axios'
import { listSummary } from '../../../../settings/api'
import { Component, Vue } from 'vue-property-decorator'
import { ServiceOrderDetails } from '../../../../types/modules'
import order from '../../../../store/modules/os'

@Component
export default class OSFormDetails extends Vue {
  details: any = {}
  summary: any = {}

  async loadSummary () {
    const data = await listSummary()
    if ((data as AxiosResponse).data) {
      this.details = (data as AxiosResponse).data

      this.summary = {
        companyId: this.details.companies[0].id || undefined,
        resultCenterId: this.details.result_centers[0].id || undefined,
        stockTypeId: this.details.stock_types[0].id || undefined,
        priceTableId: this.details.price_tables[0].id || undefined,
      }

      this.saveState()
    }
  }

  saveState() {
    order.setDetails(this.summary as ServiceOrderDetails);
  }

  mounted () {
    if (order.serviceDetails) {
      this.summary = order.serviceDetails
    }
    this.loadSummary()
  }
}
</script>
