<template>
  <div>
    <div class="w-100 d-flex justify-content-between">
      <h4 class=" mb-0">#{{ os ? os.number : '00000000' }}</h4>
      <div>
        <span
          class="badge py-2 px-3 cursor-pointer"
          @click="togglePossibleStatus"
          :style="`background-color: ${currentStatus.color};color: white`"
          @mouseenter="() => showingStatus = true"
        >
          {{ currentStatus.name }}
        </span>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-end mt-0">
      <div
        class="list-group position-absolute possible-status"
        v-if="showingStatus"
        @mouseleave="togglePossibleStatus"
        style="width: 250px"
      >
        <div
          v-for="item,i in possibleStatus"
          :key="i"
          class="list-group-item list-group-item-action cursor-pointer"
          :style="`background-color: ${item.color};color: white`"
          @click="selectStatus(item)"
        >
          <span v-if="currentStatus.statusId == item.id"><i class="fa fa-check"></i></span>
          <b>&nbsp;{{ item.name }}</b>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import order from '../../../../store/modules/os'
import { listStatus } from '../../../../settings/api'
import { ServiceOrderStatus } from '../../../../types/modules';

@Component
export default class OSFormStatus extends Vue {
  possibleStatus = [];
  showingStatus = false;

  get os () {
    return order.serviceOrder
  }

  get currentStatus () {
    if ( order.serviceOrderStatus != null ) {
    // console.log(order.serviceOrderStatus)
      return order.serviceOrderStatus
    } else {
      this.selectStatus(this.possibleStatus[0])
      return this.possibleStatus[0]
    }
  }

  get statuses () {
    return order.serviceOrderStatuses
  }

  async loadPossibleStatus () {
    const possible = await listStatus()
    if ( possible ) {
      this.possibleStatus = possible.data
    }
  }

  selectStatus (item: ServiceOrderStatus) {
    order.setServiceOrderCurrentStatus(item)
  }

  togglePossibleStatus () {
    this.showingStatus = !this.showingStatus
  }

  mounted () {
    this.loadPossibleStatus()
  }
}
</script>
