<template>
  <div class="w-100 mt-3">
    <h5 class="bg-gray p-1 mb-0">Histórico</h5>
    <table class="table table-sm table-responsive-md table-hover">
      <tbody>
        <tr
          v-for="item,i in statuses"
          :key="i"
          :style="`background-color: ${item.color};color:white`"
        >
          <td>{{ item.name }}</td>
          <!-- <td>{{ item.color }}</td> -->
          <td>{{ item.start }}</td>
          <!-- <td>{{ item. }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import order from '../../../../store/modules/os'

@Component
export default class OSFormStatusList extends Vue {

  get statuses () {
    return order.serviceOrderStatuses
  }
}
</script>
