<template>
  <div class="w-100">
    <div class="col-12 row">
      <p class="col-12 text-center mb-0 mt-2"><b>Serviços e Produtos</b></p>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Referencia</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Aprovado?</th>
            <!-- <th>Técnico</th> -->
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" :key="item.id">
            <th>{{ item.type == 'S' ? 'Serviço':'Produto' }}</th>
            <td>{{ item.item.reference }}</td>
            <td>{{ item.item.name }}</td>
            <td>{{ item.quantity }} <span v-if="item.type == 'S'">{{ item.item.for_hour ? '/ Hora':'Un' }}</span></td>
            <td>R${{ item.value | formatMoney}}</td>
            <td>{{ item.was_aproved ? 'Sim':'Não' }}</td>
            <!-- <td>{{ item.user.name }}</td> -->
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>{{ items.length }}</th>
            <th></th>
            <th></th>
            <th></th>
            <th>R${{ totalValue | formatMoney}}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class ReportHeader extends Vue{
  @Prop({ default: [] }) readonly items!: Array<any>

  get totalValue() {
    let total = 0
    this.items.forEach( item => {
      if ( item.was_aproved ) {
        total += item.value
      }
    })
    return total
  }
}
</script>
