<template>
  <div class="w-100 mt-3">
    <h5 class="bg-gray p-1">Técnico</h5>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class OSFormTechnician extends Vue {

}
</script>
