<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Dashboard | MServiços</title>
  </head>
  <!-- <body> -->
  <body class="hold-transition sidebar-mini layout-fixed">
    <noscript>
      <strong>Opss. <%= htmlWebpackPlugin.options.title %> não funciona sem JavaScript. Por favor ative antes de continuar.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
