<template>
  <div class="w-100 mt-5">
    <div class="col-12 row">
      <div class="col-6 text-center">
        <div class="col-12 border-top border-dark"></div>
        <p class="mb-0"><b>{{ client.name }}</b></p>
        <p>{{ client.cnpj }}</p>
      </div>
      <div class="col-6 text-center">
        <div class="col-12 border-top border-dark"></div>
        <p class="mb-0"><b>{{ company.name }}</b></p>
        <p>{{ company.cnpj }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { Business } from '../../../../types/modules'

@Component
export default class ReportFooter extends Vue{
  @Prop({ default: null }) readonly client!: Business | null
  @Prop({ default: null }) readonly company!: Business | null
}
</script>
