<template>
  <div class="w-100">
    <div class="col-12 row">
      <h6 class="col-12"><b>Equipamento</b></h6>
      <p class="col-4"><small><b>Nº de Série:</b></small><br>{{ details.equipment.serie_number }}</p>
      <p class="col-8"><small><b>Nome:</b></small><br>{{ details.equipment.name }}</p>

      <hr class="col-12">

      <div class="col-12 border p-0" v-if="details.observations">
        <h6 class="mb-0 text-center py-1 border-bottom"><b>Observações</b></h6>
        <p class="px-3 py-0 mb-0"><small>{{ details.observations }}</small></p>
      </div>

      <div class="col-6 border p-0" v-if="details.equipment.defects">
        <h6 class="mb-0 text-center py-1"><b>Avarias</b></h6>
        <list-details :list="details.equipment.defects" />
      </div>

      <div class="col-6 border p-0" v-if="details.accessories">
        <h6 class="mb-0 text-center py-1"><b>Acessórios</b></h6>
        <list-details :list="details.accessories" />
      </div>

      <div class="col-12 border p-0" v-if="details.defects">
        <h6 class="mb-0 text-center py-1"><b>Defeitos Reportados</b></h6>
        <list-details :list="details.defects" />
      </div>

      <div class="col-12 border p-0" v-if="details.technicalReport">
        <h6 class="mb-0 text-center py-1"><b>Relatório Técnico</b></h6>
        <list-details :list="details.technicalReport" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import List from './List.vue'

@Component({
  components: {
    "list-details": List
  }
})
export default class ReportDetails extends Vue{
  @Prop() readonly details: any
}
</script>
