<template>
  <table class="table table-sm mb-0">
    <tbody>
      <tr v-for="item,i in processesList" :key="i" >
        <td width="20px"><div style="height:20px;width:20px" class="border border-dark"></div></td>
        <td><small>{{ item }}</small></td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class ReportDetailsList extends Vue{
  @Prop() readonly list: any

  get processesList () {
    const newList = this.list.replace(';', '\n')
    const list = newList.split('\n')
    return list
  }
}
</script>
