<template>
  <div class="w-100 border-bottom">
    <div class="col-12 row">
      <p class="col-8 mb-0">
        <small><b>Cliente:</b></small><br> {{ business.name }} ({{ business.cnpj }})
      </p>
      <p class="col-4 mb-0">
        <small><b>Telefone:</b></small><br> {{ business.phone }} / {{ business.cellphone }}
      </p>
      <p class="col-8 mb-0">
        <small><b>Endereço:</b></small><br> {{ business.address }} {{ business.complement }}, {{ business.number }}, {{ business.neighborhood }} - {{ business.cep }} - {{ business.city }} - {{ business.state }}
      </p>
      <p class="col-4 mb-0">
        <small><b>Email:</b></small><br> {{ business.email }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { Business } from '../../../../types/modules'

@Component
export default class ReportBusiness extends Vue{
  @Prop({ default: null }) readonly business!: Business | null
}
</script>
