<template>
  <div class="w-100 mt-3">
    <h5 class="bg-gray p-1">Cliente</h5>
    <div class="w-100">
      <div class="col-12 col-md-6 p-0">
        <label><small>Buscar CNPJ/CPF</small></label>
        <div class="input-group input-group-sm">
          <the-mask
            class="form-control form-control-sm"
            :mask="['###.###.###-##', '##.###.###/####-##']"
            v-model="client.cnpj"
          />
          <span class="input-group-append">
            <button
              @click="searchClient"
              class="input-group-text btn-success"
            >
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label><small>Nome</small></label>
        <input class="form-control form-control-sm" v-model="client.name" />
      </div>

      <div class="col-12 col-md-6">
        <label><small>Nome Fantasia</small></label>
        <input class="form-control form-control-sm" v-model="client.fantasyName"/>
      </div>

      <div class="col-12 col-md-3">
        <label><small>Telefone</small></label>
        <the-mask
          class="form-control form-control-sm"
          :mask="['(##) ####-####', '(##) #####-####']"
          v-model="client.phone"
        />
      </div>

      <div class="col-12 col-md-3">
        <label><small>Celular</small></label>
        <the-mask
          class="form-control form-control-sm"
          :mask="['(##) ####-####', '(##) #####-####']"
          v-model="client.cellphone"
        />
      </div>

      <div class="col-12 col-md-6">
        <label><small>Email</small></label>
        <input class="form-control form-control-sm" v-model="client.email" />
      </div>
    </div>

    <hr>

    <div class="w-100">
      <div class="col-12 col-md-6 p-0">
        <label><small>CEP</small></label>
        <div class="input-group input-group-sm">
          <the-mask
            class="form-control form-control-sm"
            :mask="['#####-###']"
            v-model="client.cep"
          />
          <span class="input-group-append">
            <button class="input-group-text btn-success"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <label><small>Endereço</small></label>
        <input class="form-control form-control-sm" v-model="client.address" />
      </div>

      <div class="col-12 col-md-3">
        <label><small>Complemento</small></label>
        <input class="form-control form-control-sm" v-model="client.complement" />
      </div>

      <div class="col-12 col-md-3">
        <label><small>Número</small></label>
        <input class="form-control form-control-sm" v-model="client.number" />
      </div>

      <div class="col-12 col-md-6">
        <label><small>Bairro</small></label>
        <input class="form-control form-control-sm" v-model="client.neighborhood" />
      </div>

      <div class="col-12 col-md-3">
        <label><small>Estado</small></label>
        <input class="form-control form-control-sm" v-model="client.state" />
      </div>

      <div class="col-12 col-md-3">
        <label><small>Cidade</small></label>
        <input class="form-control form-control-sm" v-model="client.city" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { searchCompany } from './../../../../settings/api'
import order from './../../../../store/modules/os'
import { Business } from '../../../../types/modules'

@Component
export default class OSFormClient extends Vue {
  client: Business
  loading = false

  async searchClient () {
    this.loading = true
    const response = await searchCompany(this.client.cnpj)
    this.client = response
    order.setClient(this.client)
    this.loading = false
  }

  mounted () {
    if (order.serviceClient != null) {
      this.client = order.serviceClient
    }
  }
}
</script>
