<template>
  <div>
    <div class="row os">
      <div class="col-12 col-md-6 col-lg-7 os-list">
        <os-list />
      </div>
      <div class="col-12 col-md-6 col-lg-5 bg-white os-summary pt-2">
        <os-summary />
      </div>
    </div>
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import List from '@/components/OS/List'
import Resume from '@/components/OS/Resume'
import order from '@/store/modules/os'

@Component({
  components: {
    'os-list': List,
    'os-summary': Resume
  }
})
export default class OSList extends Vue {
  mounted () {
    order.cleanServiceOrder()
  }
}
</script>
