<template>
  <div>
    <os-data />
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import Data from '@/components/OS/Data'

@Component({
  components: {
    'os-data': Data
  }
})
export default class OSData extends Vue {
}
</script>
