<template>
  <div class="w-100">
    <reports :os="orderId" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import Reports from '../components/Report/index.vue'

@Component({
  components: {
    'reports': Reports
  }
})
export default class ReportView extends Vue{

  get orderId () {
    return this.$route.params.id
  }

}
</script>
