<template>
  <div>
    <status-form @reload="listStatusStored" />
    <status-list :items="statuses" />
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import { listStatus } from '../settings/api'
import StatusForm from '@/components/Status/Data'
import StatusList from '@/components/Status/List'

@Component({
  components: {
    'status-form': StatusForm,
    'status-list': StatusList
  }
})
export default class OSData extends Vue {
  statuses = []

  async listStatusStored () {
    const status = await listStatus()
    this.statuses = status
  }

  mounted () {
    this.listStatusStored()
  }
}
</script>
