<template>
  <aside class="sidebar-wrapper main-sidebar sidebar-light-primary elevation-4">

    <a href="#" class="brand-link bg-success">
      <img
        src="@/assets/img/logo-branca.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: .8"
      >
      <span class="brand-text font-weight-light">M<b>Serviços</b></span>
    </a>

    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img v-if="user.photo" :src="`${configuration.storage}/img/${user.photo}`" class="img-circle elevation-2"/>
          <img v-else src="@/assets/img/none.jpg" class="img-circle elevation-2"/>
        </div>
        <div class="info">
          <a class="d-block">{{ user.name }}</a>
          <small>{{ user.email }}</small>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <li class="nav-item">
            <router-link to="/" class="nav-link">
              <i class="nav-icon fas fa-home"></i><p>Inicio</p>
            </router-link>
          </li>

          <li class="nav-item">
            <router-link to="/os" class="nav-link">
              <i class="nav-icon fas fa-stream"></i>
              <p>
                Ordens de Serviço
                <!-- <span class="right badge badge-danger">New</span> -->
              </p>
            </router-link>
          </li>

          <!-- <i class="fas fa-star-half-alt"></i> -->
          <li class="nav-item">
            <router-link to="/status" class="nav-link">
              <i class="nav-icon fas fa-star-half-alt"></i><p>Status</p>
            </router-link>
          </li>

          <!-- <li class="nav-item">
            <router-link to="/consult" class="nav-link">
              <i class="nav-icon fas fa-search"></i><p>Consulta</p>
            </router-link>
          </li> -->
        </ul>
      </nav>
    </div>
  </aside>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import user from '../../store/modules/user'

@Component
export default class SideBar extends Vue {
  get user() {
    return user.user;
  }

  get configuration() {
    return user.configuration;
  }
}
</script>
