<template>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row" v-if="$route.meta.details">
          <div class="col-sm-6">
            <h4 class="m-0 text-dark">{{ $route.meta.details.title }}</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li
                v-for="item,i in $route.meta.details.breadcrumb"
                :key="i"
                class="breadcrumb-item"
                :class="item.last ? 'active':''"
              >
                <span v-if="item.last">{{ item.name }}</span>
                <router-link v-else :to="item.href">{{ item.name }}</router-link>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container-fluid">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class GeneralView extends Vue {

}
</script>
