<template>
  <div class="w-100">
    <div class="col-12 col-md-4 p-0 noprint">
      <label>Tipo de relatório</label>
      <select v-model="report" class="form-control form-control-sm custom-select custom-select-sm">
        <option></option>
        <option value="OS">Ordem de Serviço</option>
        <option value="CR">Comprovante de Recebimento</option>
      </select>
    </div>

    <div class="p-0 elevation-2 mt-2 bg-white px-3 py-5 mb-5 flat">
      <os-description v-if=" report == 'OS' " :report="data.data" :parameters="parameters" />
      <os-receipt v-if=" report == 'CR' " :report="data.data" :parameters="parameters" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { getOs } from '../../settings/api'
import Description from './Description.vue'
import Receipt from './Receipt.vue'
import { AxiosResponse } from 'axios'
import order from '../../store/modules/os'

@Component({
  components: {
    "os-description": Description,
    "os-receipt": Receipt,
  }
})
export default class Report extends Vue{
  @Prop({ default: null }) readonly os!: BigInteger | null

  report = null
  data: any

  async getOsData () {
    if (this.os != null) {
      const data = await getOs( this.os )
      this.data = (data as AxiosResponse).data
    }
  }

  get parameters () {
    return order.serviceOrderParameters
  }

  mounted () {
    this.getOsData()
  }
}
</script>
