<template>
  <div>
    <os-company :company="report.company" :number="report.number" />
    <!-- <os-status :status="{
      number: report.number,
      data: report.created_at,
      status: report.status
    }" /> -->
    <os-business :business="report.business" />
    <h5 class="col-12 border-bottom py-3 text-center"><b>DECLARO QUE RECEBI OS SEGUINTES EQUIPAMENTOS E ACESSÓRIOS</b></h5>
    <os-details :details="{
      equipment: report.equipment,
      accessories: report.accessories,
    }" />
      <!-- defects: report.description,
      observations: report.observations
      technicalReport: report.technical_report, -->
    <!-- <os-items :items="report.items" /> -->
    <os-observation :details="parameters" />
    <os-footer :client="report.business" :company="report.company" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import Status from './Items/Status/index.vue'
import Company from './Items/Company/index.vue'
import Business from './Items/Business/index.vue'
import Details from './Items/Details/index.vue'
import Items from './Items/Items/index.vue'
import Observation from './Items/Observation/index.vue'
import Footer from './Items/Footer/index.vue'
import { ServiceOrder, Parameters } from '../../types/modules'

@Component({
  components: {
    "os-company": Company,
    "os-status": Status,
    "os-business": Business,
    "os-details": Details,
    "os-items": Items,
    "os-observation": Observation,
    "os-footer": Footer
  }
})
export default class DescriptionReport extends Vue{
  @Prop({ default: null }) readonly report!: ServiceOrder | null
  @Prop({ default: null }) readonly parameters!: Parameters | null
}
</script>
