<template>
  <div class="w-100">
    <os-form />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Form from './Form/index.vue'

@Component({
  components: {
    'os-form': Form
  }
})
export default class OSData extends Vue {

}
</script>
