<template>
  <div class="w-100">
    <button
      class="btn btn-sm btn-dark w-100"
      @click="newOS"
    >
      <i class="fa fa-plus-circle"></i> Adicionar
    </button>
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th><small>#OS</small></th>
          <th><small>Cliente</small></th>
          <th><small>Status</small></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="cursor-pointer"
          v-for="item in items.data"
          :key="item.id"
          @click="selectOS(item)"
          draggable="true"
        >
          <th scope="row"><small>#{{ item.number }}</small></th>
          <td><small>{{ item.business.name }}</small></td>
          <td>
            <span v-if="item.status[0]" class="badge text-white" :style="`background-color: ${item.status[0].color}`">
              <small><b>{{ item.status[0].name }}</b></small>
            </span>
          </td>
          <td>
            <a class="btn btn-sm btn-warning" :href="`/os/print/${item.id}`" target="_blank">
              <i class="fa fa-print"></i>
            </a>

            <button class="btn btn-sm btn-primary" @click="goToOs(item.id, item)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { listOs } from '../../settings/api'
import { AxiosResponse } from 'axios';
import order from '../../store/modules/os'

@Component
export default class OSList extends Vue {
  items = {}

  async serviceOrders() {
    const response = await listOs();
    this.items = ( response as AxiosResponse ).data;
  }

  newOS () {
    order.cleanServiceOrder()
    this.goToOs()
  }

  goToOs(id=undefined, item=undefined) {
    if(id) {
      this.selectOS(item)
      this.$router.push(`/os/data/${ id }`)
    } else {
      this.$router.push(`/os/data/`)
    }
  }

  selectOS(item: any) {
    order.cleanServiceOrder()
    order.loadServiceOrderFromData(item)
  }

  mounted () {
    this.serviceOrders()
  }

}
</script>
