<template>
  <div class="w-100" v-if="os">
    <h5>OS: <b>#{{ os.number }}</b></h5>
    <hr>
    <p class="mb-0"><small>Cliente: <b>{{ client.name}} ({{ client.cnpj }})</b></small></p>
    <p class="mb-0"><small>Técnico: <b>{{ user.name}}</b></small></p>

    <hr>

    <p class="mb-0"><small><b>Defeitos:</b></small></p>
    <p style="white-space: pre-line;"><small>{{ equipment.description }}</small></p>
    <p class="mb-0"><small><b>Paracer Técnico:</b></small></p>
    <p style="white-space: pre-line;"><small>{{ equipment.technicalReport }}</small></p>

    <p class="mb-0"><small><b>Itens:</b></small></p>
    <table class="table table-responsive-sm table-sm">
      <thead class="thead-dark">
        <tr>
          <th><small>Tipo</small></th>
          <th><small>Item</small></th>
          <th><small>Quantidade</small></th>
          <th><small>Valor</small></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.id">
          <td><small>{{ item.type == 'S' ? 'Serviço':'Produto' }}</small></td>
          <td><small>{{ item.item.name }}</small></td>
          <td><small>
            {{ item.quantity }}
            <span v-if="item.item.forHour">/ Hora</span>
            <span v-else>Un</span>
          </small></td>
          <td><small>R${{ item.value * item.quantity | formatMoney}}</small></td>
        </tr>
      </tbody>
    </table>

    <p class="mb-0"><small><b>Histórico:</b></small></p>
    <table class="table table-responsive-sm table-sm">
      <thead class="thead-dark">
        <tr>
          <th><small>Status</small></th>
          <th><small>Data</small></th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in statuses"
          :key="item.id"
          :style="`background-color:${item.color};color:white`"
        >
          <td><small>{{ item.name }}</small></td>
          <td><small>{{ item.start }}</small></td>
          <!-- <td><small>{{ item.color }}</small></td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div v-else class="w-100 h-100 d-flex justify-content-center align-content-center">
    <b>SELECIONE UMA ORDEM SE SERVIÇO</b>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import order from '../../store/modules/os'

@Component
export default class OSResume extends Vue {
  get os () {
    return order.serviceOrder
  }

  get equipment () {
    return order.serviceEquipment
  }

  get details () {
    return order.serviceDetails
  }

  get client () {
    return order.serviceClient
  }

  get items () {
    return order.serviceOrderItems
  }

  get currentStatus () {
    return order.serviceOrderStatus
  }

  get statuses () {
    return order.serviceOrderStatuses
  }

  get user () {
    return order.serviceUser
  }

}
</script>
