<template>
  <div class="w-100 mt-3">
    <h5 class="bg-gray p-1">Serviços e Produtos</h5>

    <div class="row p-0">
      <div class="col-12 col-md-6">
        <list-items />
      </div>
      <div class="col-12 col-md-6">
        <os-items />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ListItems from './ListItems.vue'
import OSItems from './OSItems.vue'

@Component({
  components: {
    'list-items': ListItems,
    'os-items': OSItems
  }
})
export default class OSFormItems extends Vue {

}
</script>
