<template>
  <div class="w-100 mt-3">
    <h5 class="bg-gray p-1">Serviços e Produtos</h5>

    <div class="row p-0">
      <div class="col-12 col-md-2">
        <label><small>Tipo de Item</small></label>
        <select class="form-control form-control-sm custom-select custom-select-sm">
          <option value="S">Serviço</option>
          <option value="P">Produto</option>
        </select>
      </div>

      <div class="col-12 col-md-3">
        <label><small>Referencia</small></label>
        <div class="input-group">
          <input class="form-control form-control-sm" />
          <span class="input-group-append">
            <button class="input-group-text btn-sm btn-primary">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>

      <div class="col-12 col-md-7">
        <label><small>Nome</small></label>
        <input class="form-control form-control-sm" readonly />
      </div>

      <div class="col-12 col-md-3">
        <label><small>Quantidade</small></label>
        <input class="form-control form-control-sm" />
      </div>

      <div class="col-12 col-md-3">
        <label><small>Valor</small></label>
        <div class="input-group input-group-sm">
          <span class="input-group-append">
            <span class="input-group-text">R$</span>
          </span>
          <input class="form-control form-control-sm" />
        </div>
      </div>

      <div class="col-12 col-md-3">
        <label><small>Desconto</small></label>
        <div class="input-group input-group-sm">
          <span class="input-group-append">
            <span class="input-group-text">R$</span>
          </span>
          <input class="form-control form-control-sm" />
        </div>
      </div>

      <div class="col-12 col-md-3">
        <label><small>Valor Total</small></label>
        <div class="input-group input-group-sm">
          <span class="input-group-append">
            <span class="input-group-text">R$</span>
          </span>
          <input class="form-control form-control-sm" />
        </div>
      </div>

      <div class="col-12 col-md-9">
        <label><small>Porque?</small></label>
        <input class="form-control form-control-sm" />
      </div>
      <div class="col-12 col-md-3">
        <label><small>&nbsp;</small></label>
        <button class="form-control form-control-sm btn-sm btn-primary">
          <i class="fa fa-plus-circle"></i>Adicionar
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class OSFormItemsListOld extends Vue {

}
</script>
