<template>
  <div class="w-100 mt-3">
    <table class="table table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Referencia</th>
          <th>Nome</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>
      <tbody v-if="services">
        <tr v-for="item,i in services.data" :key="i">
          <th>{{ item.reference }}</th>
          <td>{{ item.name }}</td>
          <td><b>R${{ item.value | formatMoney }}</b></td>
          <td>
            <button class="btn btn-sm btn-primary" @click="addItemOs(item)">
              <i class="fa fa-plus-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination size="small" :limit="3" align="left" :data="services" @pagination-change-page="apiServices"></pagination>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { listService } from '../../../../settings/api'
import order from '../../../../store/modules/os'
import { Service } from './../../../../types/modules'
import { AxiosResponse } from 'axios'

@Component
export default class OSFormListItems extends Vue {
  private services = {}

  async apiServices(page=1) {
    const s = await listService(page)
    this.services = (s as AxiosResponse).data
  }

  addItemOs(item: any) {
    const service: Service =  {
      id: item.id,
      name: item.name,
      reference: item.reference,
      value: item.value,
      forHour: item.for_hour,
      isActived: item.is_actived
    }

    const osItem = {
      itemId: item.id,
      type: 'S',
      quantity: 1,
      value: item.value,
      discount: 0,
      description: '',
      wasAproved: true,
      item: service
    }
    order.addOsItem(osItem)
  }

  mounted() {
    this.apiServices()
  }
}
</script>
