<template>
  <div class="w-100 mt-3">
    <div class="w-100 text-right mb-1">
      <button class="btn btn-sm btn-danger" @click="cleanOS">
        <i class="fa fa-trash"></i> Limpar
      </button>
    </div>

    <div class="card col-12 pt-3 pb-0" v-for="item,i in serviceOrderItems" :key="i">
      <div class="card-title d-flex justify-content-between mb-0">
        <b>{{ item.item.reference }} - {{ item.item.name }}</b>

        <button class="btn btn-sm btn-danger" @click="deleteItemOS(item)">
          <i class="fa fa-trash"></i>
        </button>
      </div>

      <div class="card-body row px-3 mt-0">
        <div class="row p-0">
          <div class="col-12 col-md-4">
            <label class="mb-0"><small>Quantidade</small></label>
            <div class="input-group input-group-sm">
              <input class="form-control form-control-sm" v-model="item.quantity" type="number" min="0" />
              <span class="input-group-append">
                <span class="input-group-text" v-if="item.item.forHour">/ Hora</span>
                <span class="input-group-text" v-else>Un</span>
              </span>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <label class="mb-0"><small>Unitário</small></label>
            <div class="input-group input-group-sm">
              <span class="input-group-append">
                <span class="input-group-text">R$</span>
              </span>
              <input class="form-control form-control-sm" v-model="item.value" type="number" :min="item.value" />
            </div>
          </div>

          <div class="col-12 col-md-4">
            <label class="mb-0"><small>Desconto</small></label>
            <div class="input-group input-group-sm">
              <span class="input-group-append">
                <span class="input-group-text">R$</span>
              </span>
              <input class="form-control form-control-sm" v-model="item.discount" type="number" min="0" />
            </div>
          </div>
        </div>

        <p class="col-12 text-right mt-2 p-0 mb-0">
          Valor total: <b>R${{ getItemTotal( item ) | formatMoney }}</b>
        </p>

        <div class="col-12 p-0">
          <label class="mb-0"><small>Descrição</small></label>
          <textarea class="form-control form-control-sm" rows="2" v-model="item.description"></textarea>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import order from '../../../../store/modules/os'
import { ServiceOrderItem } from '../../../../types/modules'

@Component
export default class OSFormItems extends Vue {
  services: [] = []

  get serviceOrderItems() {
    return order.serviceOrderItems
  }

  cleanOS () {
    order.cleanServiceOrderItems()
  }

  deleteItemOS(item: ServiceOrderItem) {
    order.deleteServiceOrderItem(item)
  }

  getItemTotal (item: ServiceOrderItem) {
    const value = ( item.value * item.quantity ) - item.discount
    return value
  }
}
</script>
