<template>
  <div class="pb-5">
    <hr>
    <status />
    <informations />
    <client />
    <equipment />
    <items />
    <history />

    <div class="w-100 py-5"></div>

    <div class="w-100 d-flex justify-content-end mt-4 fixed-bottom bg-white px-4 py-2 border-top">
      <a v-if="orderId" class="btn btn-warning mr-1" :href="`/os/print/${orderId}`" target="_blank" >
        <i class="fa fa-print"></i> Imprimir
      </a>
      <button class="btn btn-danger mr-1" @click="cleanOS"><i class="fa fa-backward"></i> Voltar</button>
      <button class="btn btn-success" @click="storeOS"><i class="fa fa-save"></i> Salvar Ordem de Serviço</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import Client from './Client/index.vue'
import Technician from './Technician/index.vue'
import Details from './Details/index.vue'
import Equipment from './Equipment/index.vue'
import Items from './Items/index.vue'
import Status from './Status/index.vue'
import List from './Status/List.vue'

import route from './../../../router'
import router from './../../../router'
import order from './../../../store/modules/os'

import { postServiceOrder } from './../../../settings/api'

@Component({
  components: {
    'client': Client,
    'technician': Technician,
    'informations': Details,
    'equipment': Equipment,
    'items': Items,
    'status': Status,
    'history': List,
  }
})
export default class OSForm extends Vue {

  get orderId (){
    if (order.serviceOrder != null) {
      return order.serviceOrder.id
    } else {
      return undefined
    }
  }

  cleanOS () {
    order.cleanServiceOrder()
    this.$router.push('/os')
  }

  storeOS () {
    postServiceOrder(
      order.serviceOrder,
      order.serviceClient,
      order.serviceDetails,
      order.serviceEquipment,
      order.serviceOrderItems,
      order.serviceOrderStatus
    )
    this.$router.push('/os')
  }

  // printOS ()
}
</script>
