<template>
  <div class="row">
    <div class="col-12 col-md-2">
      <label>Cor</label>
      <input class="form-control form-control-sm" type="color" v-model="statusData.color" />
    </div>

    <div class="col-12 col-md-6">
      <label>Nome</label>
      <input class="form-control form-control-sm" v-model="statusData.name" />
    </div>

    <div class="col-12 col-md-2">
      <label>Ordem</label>
      <input class="form-control form-control-sm" type="number" min="0" v-model="statusData.order" />
    </div>

    <div class="col-12 col-md-2">
      <label>&nbsp;</label>
      <button class="btn-sm btn-success form-control form-control-sm" @click="storeStatus">
        <i class="fa fa-check-circle"></i> Salvar
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { postStatus } from '../../settings/api'

@Component
export default class StatusData extends Vue {
  statusData = {}

  storeStatus () {
    postStatus(this.statusData)
    this.$emit('reload')
  }
}
</script>
