<template>
  <div class="col-12 p-0 mt-3">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Cor</th>
          <th>Ordem</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items.data" :key="item.id">
          <th>{{ item.id }}</th>
          <th>{{ item.name }}</th>
          <th>
            <span class="badge" :style="{'background-color': item.color || '#000'}">
            {{ item.color }}
            </span>
          </th>
          <th>{{ item.order }}</th>
          <th class="text-right">
            <button class="btn btn-sm btn-danger">
              <i class="fa fa-trash"></i>
            </button>

            <button class="btn btn-sm btn-primary">
              <i class="fa fa-edit"></i>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { PossibleStatus } from '../../types/modules'

@Component
export default class StatusData extends Vue {
  @Prop() readonly items: Array<PossibleStatus> = []
}
</script>
