<template>
  <div id="app" class="wrapper">
    <div v-if="!isLogged">
      <login-pg />
    </div>
    <div v-else>
      <top-menu />
      <side-bar />
      <main-view />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { getParameters } from './settings/api'

import SideBar from './components/General/SideBar.vue';
import TopMenu from './components/General/TopMenu.vue';
import View from './components/General/View.vue';
import Login from './views/Auth/Login.vue';
import user from './store/modules/user'

@Component({
  components: {
    "side-bar": SideBar,
    "top-menu": TopMenu,
    "main-view": View,
    "login-pg": Login
  }
})
export default class App extends Vue {
  get isLogged() {
    return user.isLogged;
  }

  async loadJSON(callback: Function) {
    const xobj = new XMLHttpRequest();

    xobj.overrideMimeType("application/json");
    await xobj.open('GET', '/config.json', true);
    xobj.onreadystatechange = function () {
      if (xobj.readyState == 4 && xobj.status == 200) {
        callback(xobj.responseText);
      }
    };
    xobj.send(null);
  }

  mounted() {
    this.loadJSON (function(response: string) {
      const configJson = JSON.parse(response);
      user.newConfiguration(configJson)
    });

    getParameters()
  }

}
</script>

<style lang="scss">
  @import '@/assets/scss/style.scss';
</style>/
