<template>
  <div class="h-100 w-100 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-4 col-md-3 bg-gray-dark px-3 py-5">
      <div class="col-12 d-flex justify-content-center mb-2">
        <div class="text-center">
          <img src="@/assets/img/logo-branca.png" >
          <h6 class="mt-2">MServiços</h6>
        </div>
      </div>
      <hr>
      <form @submit.prevent="authenticate">
        <div class="col-12">
          <label>Email</label>
          <div class="input-group input-group-sm">
            <span class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </span>
            <input
              type="email"
              v-model="email"
              class="form-control form-control-sm"
              required
            />
          </div>
        </div>

        <div class="col-12">
          <label>Senha</label>
          <div class="input-group input-group-sm">
            <span class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-lock"></i></span>
            </span>
            <input
              type="password"
              v-model="password"
              class="form-control form-control-sm"
              required
            />
          </div>
        </div>

        <div class="col-12 mt-1">
          <input v-model="remember" id="remember" class="custom-checkbox" type="checkbox">
          <label for="remember">Lembrar</label>
        </div>

        <div v-if="error" class="alert alert-danger">
          Credenciais incorretas!
        </div>

        <div class="col-12 mt-2">
          <button
            type="submit"
            class="btn btn-success btn-sm form-control form-control-sm"
            :disabled="loading"
          >
            <span v-if="loading"><i class="fa fa-spin fa-spinner"></i></span>
            Logar
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import user from '../../store/modules/user'

@Component
export default class Login extends Vue {
  private email = ''
  private password = ''
  private remember = false
  private error = false
  private loading = false

  private async authenticate() {
    this.loading = true

    const attempt = await user.login({
      email: this.email,
      password: this.password,
      remember: this.remember
    })
    this.loading = false

    if (!attempt) {
      this.error = true
    } else {
      this.error = false
      window.location.href = '/'
    }
  }
}
</script>
