<template>
  <div class="w-100 border-top border-bottom">
    <div class="col-12 row">
      <p class="col-12 text-center mb-0 mt-2"><b>DETALHES</b></p>
      <p class="col-12 mb-0 mt-2">GARANTIA: <b>{{ details.serviceOrderWarrantyDays }} Dias</b></p>
      <p class="col-12 mb-0 mt-2" v-html="obs"></p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { Parameters } from '../../../../types/modules'

@Component
export default class ReportHeader extends Vue{
  @Prop() readonly details!: Parameters | null | undefined

  get obs () {
    if ( this.details != undefined ) {
      return this.details.serviceOrderText!.replace(/\n/g, '<br />')
    } else {
      return ''
    }
  }
}
</script>
