<template>
  <div class="w-100 mt-3">
    <h5 class="bg-gray p-1">Equipamento</h5>
    <div class="w-100">
      <div class="col-12 col-md-6 p-0">
        <label>
          <small>Número de Série</small>
        </label>
        <div class="input-group input-group-sm">
          <input class="form-control form-control-sm" v-model="equipment.serieNumber" />
          <span class="input-group-append">
            <button class="input-group-text btn-success" @click="getEquipment">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="row p-0">
      <div class="col-12 col-md-4 pt-3">
        <div class="border w-100 h-100 d-flex justify-content-center align-items-center">
          <img
            v-if="equipment.imag"
            ref="preview"
            class="w-100"
          />
          <div v-else class="text-center">
            <p><small>Sem Foto</small></p>
            <label for="equipment-image"><small>Adicionar Imagem</small></label>
          </div>
          <input
            type="file"
            id="equipment-image"
            ref="equipment-image"
            class="d-none"
            @change="processFile"
          />
          <!-- equipment.image -->
        </div>
      </div>

      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12">
            <label><small>Descrição</small></label>
            <input
              class="form-control form-control-sm"
              v-model="equipment.name"
              @change="saveState"
            />
          </div>

          <div class="col-12">
            <label><small>Avarias <b>(Uma por linha ou Separe por ponto e vigula ";")</b></small></label>
            <textarea
              class="form-control summernote"
              rows="5"
              v-model="equipment.defects"
              @change="saveState"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <label><small>Defeitos e Problemas <b>(Uma por linha ou Separe por ponto e vigula ";")</b></small></label>
        <textarea
          class="form-control summernote"
          rows="5"
          v-model="equipment.description"
          @change="saveState"
        ></textarea>
      </div>

      <div class="col-12 col-md-6">
        <label><small>Relatório Técnico <b>(Uma por linha ou Separe por ponto e vigula ";")</b></small></label>
        <textarea
          class="form-control summernote"
          rows="5"
          v-model="equipment.technicalReport"
          @change="saveState"
        ></textarea>
      </div>

      <div class="col-12 col-md-6">
        <label><small>Acessórios <b>(Uma por linha ou Separe por ponto e vigula ";")</b></small></label>
        <textarea
          class="form-control summernote"
          rows="5"
          v-model="equipment.accessories"
          @change="saveState"
        ></textarea>
      </div>

      <div class="col-12 col-md-6">
        <label><small>Observações <b>(Uma por linha ou Separe por ponto e vigula ";")</b></small></label>
        <textarea
          class="form-control summernote"
          rows="5"
          v-model="equipment.observations"
          @change="saveState"
        ></textarea>
      </div>
    </div>

    <!--
    <div class="w-100 d-flex justify-content-end mt-2">
      <button class="btn btn-sm btn-success">Salvar Equipamento</button>
    </div>
    -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import order from "./../../../../store/modules/os";
import { searchEquipment } from "../../../../settings/api";

@Component
export default class OSFormEquipment extends Vue {
  equipment: any = {};
  loading = false;
  image: File | null = null
  haveImage = false

  async getEquipment() {
    this.loading = true;
    const response = await searchEquipment(this.equipment.serieNumber);

    if (response.id) {
      this.equipment = response;
      order.setEquipment(this.equipment);
    }

    this.loading = false;
  }

  processFile () {
    // console.log(this.$refs['equipment-image'])
    // this.image = this.$refs['equipment-image'].files[0]
    // this.setImage()
  }

  setImage () {
    // if (/\.(jpe?g|png|gif)$/i.test(this.image.name)) {
    //   this.equipment.image = ''
    //   const reader = new FileReader()
    //   reader.addEventListener('load', function () {
    //     this.$refs['preview'].src = reader.result
    //   }.bind(this), false)
    //   reader.readAsDataURL(this.image)
    // } else {
    //   this.equipment.image = '/storage/img/none.png'
    //   this.$refs['preview'].src = '/storage/img/none.png'
    // }
  }

  saveState() {
    order.setEquipment(this.equipment);
  }

  mounted() {
    if (order.serviceEquipment) {
      this.equipment = order.serviceEquipment
    }
  }
}
</script>
